<div id="wrapper">
  <ul>
    <% flash.each do |key, value| %>
      <%= content_tag :li, value, class: "flash #{key}" %>
    <% end %>
  </ul>
  <div id="content">
    <h1 style="display:inline-block;"><%= "#{@dojo.branch}'s #{@student.first_name} #{@student.last_name}" %></h1>
    <div style="float:right;">
      <%= link_to "Home", root_path %> |
      <%= link_to "Edit", edit_dojo_student_path(@student.dojo_id, @student.id) %>
    </div>
    <p>Email: <%= "#{@student.email}" %></p>
    <h1>Cohort</h1>
    <table>
    	<thead>
        <tr>
      		<th>First Name</th>
      		<th>Last Name</th>
      		<th>Email</th>
        </tr>
    	</thead>
    	<tbody>
    		<% @cohort.each do |student| %>
      		<tr>
      			<td><%= student.first_name %></td>
      			<td><%= student.last_name %></td>
      			<td><%= student.email %></td>
      		</tr>
    		<% end %>
    	</tbody>
    </table>
  </div>
</div>
