<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4"><%= yield :col1 %></div>
        <div class="col-md-4"><%= yield :col2 %></div>
        <div class="col-md-4"><%= yield :col3 %></div>
      </div>
    </div>
  </body>
</html>
