<h1>Listing <%= pluralize(@dojos.count, "Dojo") %></h1>

<% if flash[:notice] %>
	<p><%= flash[:notice] %></p>
<% end %>

<table>
	<thead>
		<th>Coding Dojo Branch</th>
		<th>Street</th>
		<th>City</th>
		<th>State</th>
		<th>Actions</th>
	</thead>
	<tbody>
		<% @dojos.each do |dojo| %>
		<tr>
			<td><%= dojo.branch %></td>
			<td><%= dojo.street %></td>
			<td><%= dojo.city %></td>
			<td><%= dojo.state %></td>
			<td>
				<%= link_to "Show", dojo %> |
				<%= link_to "Edit", edit_dojo_path(dojo) %> | 
				<%= link_to "Delete", dojo, data: { method: :delete, confirm: "Are you sure?" } %>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>

<%= link_to "New Dojo", new_dojo_path %>