<div id="wrapper">
  <ul>
    <% flash.each do |key, value| %>
      <%= content_tag :li, value, class: "flash #{key}" %>
    <% end %>
  </ul>
  <div id="content">
    <h1 style="display:inline-block;"><%= @dojo.branch %> Dojo</h1>
    <div style="float:right;">
      <%= link_to "Home", root_path %> |
      <%= link_to "Edit", edit_dojo_path(@dojo) %> |
      <%= link_to "Add Student", new_dojo_student_path(@dojo) %>
    </div>
    <p>Addres: <%= @dojo.street %></p>
    <p>City: <%= @dojo.city %> State: <%= @dojo.state %></p>
    <h1>List of Students</h1>
    <table>
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @dojo.students.each do |student| %>
          <tr>
            <td><%= student.first_name %></td>
            <td><%= student.last_name %></td>
            <td><%= student.email %></td>
            <td>
              <%= link_to "Show", dojo_student_path(@dojo, student) %> |
				      <%= link_to "Edit", edit_dojo_student_path(@dojo, student) %> |
				      <%= link_to "Delete", dojo_student_path(@dojo, student) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
