<h1>Add New User</h1>
<form action="/users" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <label>Name:</label>
  <input type="text" name="user[name]">
  <input type="submit" value="Add">
</form>

<!-- <%= form_tag @user do %>
  <%= label_tag(:name, "Enter name:") %>
  <%= text_field(:person, :name) %>
  <%= submit_tag("Add New") %>
<% end %> -->
