<!-- <h1>Secrets#index</h1>
<p>Find me in app/views/secrets/index.html.erb</p> -->
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <!-- Secrets Dashboard -->
    <p><%= @secrets_count %> secrets</p>

    <% @secrets.each do |secret| %>
      <!-- # Secret Content that everyone can see -->
      <p><%= secret.context %></p>
      <p><%= secret.likes.count %> likes</p>
      <!-- <p><%= @likes_count %> likes</p> -->

      <% if current_user == secret.user %>
        <!-- # Secret Content that only the User that created that secret can see. -->
        <form action="/secrets/<%= secret.id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Delete Secret">
        </form>
      <% end %>
      <% if secret.users.include?(current_user) %>
        <form action="/likes/<%= secret.id %>" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="Unlike">
        </form>
      <% else %>
        <form action="/likes" method="post">
          <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <input type="hidden" name="like[secret_id]" value="<%= secret.id %>">
          <input type="submit" value="Like">
        </form>
      <% end %>
    <% end %>
  </body>
</html>
