<div id="wrapper">​
	<p>Your Gold: <strong><%= @gold %></strong></p>​
	<div id="places">​
		<form action="/process" method="post">​
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">​
			<input type="hidden" name="building" value="farm">​
			<ul>​
				<li><strong>Farm</strong></li>​
				<li>(earns 10-20 golds)</li>​
				<li><input type="submit" value="Find Gold!" /></li>​
			</ul>​
		</form>​
		<form action="/process" method="post">​
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">​
			<input type="hidden" name="building" value="cave">​
			<ul>​
				<li><strong>Cave</strong></li>​
				<li>(earns 5-10 golds)</li>​
				<li><input type="submit" value="Find Gold!" /></li>​
			</ul>​
		</form>​
		<form action="/process" method="post">​
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">​
			<input type="hidden" name="building" value="house">​
			<ul>​
				<li><strong>House</strong></li>​
				<li>(earns 2-5 golds)</li>​
				<li><input type="submit" value="Find Gold!" /></li>​
			</ul>​
		</form>​
		<form action="/process" method="post">​
			<input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">​
			<input type="hidden" name="building" value="casino">​
			<ul>​
				<li><strong>Casino</strong></li>​
				<li>(earns/takes 0-50 golds)</li>​
				<li><input type="submit" value="Find Gold!" /></li>​
			</ul>​
		</form>​
	</div>​
	<div>​
		<p>Activities:</p>​
		<div id="activities">​
				<!-- Show the messages by reverse to see the latest activity -->
			<% @activities.reverse.each do |element| %>​
				<% if element.include?("Earned") %>​
					<p class="earned"><%= element %></p>​
				<% else %>​
					<p class="lost"><%= element %></p>​
				<% end %>​
			<% end %>​
		</div>​
	</div>​
​</div>​