<h1>Edit <%= @dojo.branch %></h1>
<div>
<form action="/dojos/<%= params[:id] %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <div>
    <label>Branch</label>
    <input type="text" name="dojo[branch]" value="<%= @dojo.branch %>">
  </div>
  <div>
    <label>Street</label>
    <input type="text" name="dojo[street]" value="<%= @dojo.street %>">
  </div>
  <div>
    <label>City</label>
    <input type="text" name="dojo[city]" value="<%= @dojo.city %>">
  </div>
  <div>
    <label>State</label>
    <input type="text" name="dojo[state]" value="<%= @dojo.state %>">
  </div>
  <div>
    <input type="submit"  value="Update">
  </div>
</form>
<a href="/dojos">Go Back</a>
<a href="/dojos/<%= @dojo.id%>">Show</a>
</div>
